$border-color: #d1d1d1;
aside {
  &.country {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  background-color: #fff;
  border: 1px solid $border-color;
  padding-bottom: 40px;
  h1 {
    font-size: 26px;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 0;
    border: none;
  }
  h2 {
    margin: 10px 0px;
    padding: 5px 0px;
    font-size: 22px;
    font-weight: normal;
    border: none;
  }
  h3 {
    font-size: 18px;
    margin: 5px 0px;
    padding: 0;
  }
  .country-info {
    border-top: 1px solid $border-color;
    padding-top: 10px; 
  }

  .flag {
    padding-left: 70px;
    height: 35px;
  }
  &.kenya .flag {
    background: url(/images/flags/kenya.png) no-repeat;
    background-size: contain;
  }
  &.uganda .flag {
    background: url(/images/flags/uganda.png) no-repeat;
    background-size: contain;
  }
  &.rwanda .flag {
    background: url(/images/flags/rwanda.png) no-repeat;
    background-size: contain;
  }
  &.tanzania .flag {
    background: url(/images/flags/tanzania.png) no-repeat;
    background-size: contain;
  }
}

