<div class="container-full">
  <div class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">AfricaHackTrip</a>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li>{{#linkTo kenya}}Kenya{{/linkTo}}</li>
      <li>{{#linkTo uganda}}Uganda{{/linkTo}}</li>
      <li>{{#linkTo rwanda}}Rwanda{{/linkTo}}</li>
      <li>{{#linkTo tanzania}}Tanzania{{/linkTo}}</li>
    </ul>
  </div>
</div>
<div id="bigfatmap"></div>
<div class="container">
  {{outlet}}
</div>
