<h1 id="tagline">5 Weeks // 4 Countries // 8 Hackers</h1>

<div id="intro">
  <p><span>We are a group of developers &amp; designers from Europe, curious
    about the emerging African tech hubs.</span></p>
  <p><span>We decided to explore the African tech communities ourselves and
    share our impressions on the Web and with a video documentary.</span></p>
</div>

<div class="frontpage">
  <div id="teaser" class="row">
    <div class="col-lg-6">
      <iframe width="560" height="315" src="//www.youtube-nocookie.com/embed/w-QbKIctz60" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6">
      <p>Since submarine fibre-optic cables connect East Africa to fast, reliable and affordable Internet, the region's tech scene has been leapfrogging: from no net to mobile net in 4 years.  We have been working with people from all over the world, but not yet with hackers from Africa. We want to change that. We believe that it takes personal contacts to establish lasting networks.  So we decided to just go there.</p>
      <p>We will meet, connect and share with our peers, bring together European and African hacking culture, and kick off continuous exchange. We will document our road trip on the web and make a movie about it. We want to get everyone in the international tech scene as excited about African hackers as we are.</p> 
    </div>
  </div>

  <!---
  <div id="locations">
    <h2>Locations</h2>

    <div class="row">
      <div class="col-lg-3">
         {{#linkTo kenya tagName="li"}}
            <a {{bindAttr href="view.href"}}>Nairobi, Kenya</a>
          {{/linkTo}}
      </div>
      <div class="col-lg-3">
         {{#linkTo uganda tagName="li"}}
            <a {{bindAttr href="view.href"}}>Kampala, Uganda</a>
          {{/linkTo}}
      </div>
      <div class="col-lg-3">
         {{#linkTo rwanda tagName="li"}}
            <a {{bindAttr href="view.href"}}>Kigali, Rwanda</a>
          {{/linkTo}}

      </div>
      <div class="col-lg-3">
           {{#linkTo tanzania tagName="li"}}
            <a {{bindAttr href="view.href"}}>Der Es Salaam, Tanzania</a>
          {{/linkTo}}

      </div>
    </div>
    -->
</div>
