<div id="intro">
  <h1 id="tagline">
    We are a group of developers & designers from Europe, curious about the emerging African tech hubs
  </h1>
  <p>
    We decided to explore the African tech community ourselves and share our impressions on the web and with a video documentary.<br />
  </p>
  <p>
    The journey begins in September 2013
  </p>
</div>

<div id="teaser row">
  <div class="col-md-6">
    <iframe width="560" height="315" src="//www.youtube-nocookie.com/embed/w-QbKIctz60" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6">
    <p>Since submarine fibre-optic cables connect East Africa to fast, reliable and affordable Internet, the regions tech scene has been leapfrogging: from no net to mobile net in 4 years. We have been working with people from all over the world, but not yet with hackers from Africa. We want to change that. We believe that it takes personal contacts to establish lasting networks. So we decided to just go there.</p>
    <p>We will meet, connect and share with our peers, bring together European and African hacking culture, and kick off continuous exchange. We will document our road trip on the web and make a movie about it. We want to get everyone in the international tech scene as excited about African hackers as we are.</p>
  </div>
</div>

<section class="frontpage-grid">
  <div class="row grid">
    {{#if controller.model}}
      {{#each controller.model}}
        {{partial 'tile'}}
      {{/each}}
    {{/if}}
  </div>
</section>
