<div id="intro">
  <h1 id="tagline">We are a group of developers & designers from Europe, curious about the emerging African tech hubs</h1>
  <p>
    We decided to explore the African tech community ourselves and share our impressions on the web and with a video documentary.
    The journey begins in September 2013
  </p>
</div>

<div class="frontpage">
  <div id="grid">
    <figure class="effeckt-caption effeckt-caption-2">
      <img src="https://farm8.staticflickr.com/7134/7076912085_1975862720_n.jpg">
      <figcaption>
        <div class="effeckt-figcaption-wrap">
          <h3>test</h3>
        </div>
      </figcaption>
    </figure>
    <figure class="large effeckt-caption effeckt-caption-2">
      <img src="https://farm9.staticflickr.com/8529/8486515528_61853e400b.jpg" >
      <figcaption>
        <div class="effeckt-figcaption-wrap">
          <h3>test</h3>
        </div>
      </figcaption>
    </figure>
    <figure class="x-large effeckt-caption effeckt-caption-2">
      <img src="https://farm8.staticflickr.com/7134/7076912085_1975862720_n.jpg">
      <figcaption>
        <div class="effeckt-figcaption-wrap">
          <h3>test</h3>
        </div>
      </figcaption>
    </figure>
    <figure class="effeckt-caption effeckt-caption-2">
      <img src="https://farm7.staticflickr.com/6058/6279465555_b562336707_m.jpg">
      <figcaption>
        <div class="effeckt-figcaption-wrap">
          <h3>test</h3>
        </div>
      </figcaption>
    </figure>
     <figure class="effeckt-caption effeckt-caption-2">
      <img src="https://farm7.staticflickr.com/6058/6279465555_b562336707_m.jpg">
      <figcaption>
        <div class="effeckt-figcaption-wrap">
          <h3>test</h3>
        </div>
      </figcaption>
      </figure>
          <figure class="effeckt-caption effeckt-caption-2">
      <img src="https://farm7.staticflickr.com/6058/6279465555_b562336707_m.jpg">
      <figcaption>
        <div class="effeckt-figcaption-wrap">
          <h3>test</h3>
        </div>
      </figcaption>
      </figure>
          <figure class="effeckt-caption effeckt-caption-2">
      <img src="https://farm7.staticflickr.com/6058/6279465555_b562336707_m.jpg">
      <figcaption>
        <div class="effeckt-figcaption-wrap">
          <h3>test</h3>
        </div>
      </figcaption>
      </figure>
          <figure class="large effeckt-caption effeckt-caption-2">
      <img src="https://farm9.staticflickr.com/8529/8486515528_61853e400b.jpg" >
      <figcaption>
        <div class="effeckt-figcaption-wrap">
          <h3>test</h3>
        </div>
      </figcaption>
    </figure>

        <figure class="large effeckt-caption effeckt-caption-2">
      <img src="https://farm9.staticflickr.com/8529/8486515528_61853e400b.jpg" >
      <figcaption>
        <div class="effeckt-figcaption-wrap">
          <h3>test</h3>
        </div>
      </figcaption>
    </figure>

        <figure class="large effeckt-caption effeckt-caption-2">
      <img src="https://farm9.staticflickr.com/8529/8486515528_61853e400b.jpg" >
      <figcaption>
        <div class="effeckt-figcaption-wrap">
          <h3>test</h3>
        </div>
      </figcaption>
    </figure>

  

  </div>
</div>

<script type="text/javascript">
  setTimeout(function() {
      $("#grid").masonry({itemSelector: 'figure'});
      }, 300);
</script>
