<div id="intro">
  <h1 id="tagline">We are a group of developers & designers from Europe, curious about the emerging African tech hubs</h1>
  <p>
    We decided to explore the African tech community ourselves and share our impressions on the web and with a video documentary.
    The journey begins in September 2013
  </p>
</div>
