<aside>
  <h1>Nairobi, Kenya</h1>
  <p class="date">Sep 24 - Oct 01, 2013</p>
</aside>

<main>
  <h1>Events</h1>
  <div class="lanyrd-target-schedule">
      <a href="http://lanyrd.com/2013/aht13-kenya/schedule/"
          class="lanyrd-schedule"
          data-lanyrd-locations
          data-lanyrd-nostyles
          data-lanyrd-nolink>
          Schedule for AHT Kenya chapter on Lanyrd
      </a>
  </div>
</main>

<script src="http://cdn.lanyrd.net/badges/embed-v1.min.js"></script>
