<main>
<section>
  <h1>Sponsoring</h2>
  <p>
    AfricaHackTrip is about tech communities. We want to connect people and
    share knowledge. Doing business is not a primary goal, so the participants
    will spend their personal time and money. Because it's going to be
    fun and we believe we can do something good for the tech scene.
  </p>
  <p><strong>
    Partners help us lower the costs, host more and better events for more
    people and produce a better movie.
  </strong></p>
  <p>
    AfricaHackTrip will organize four hack events in four capital cities
    reaching hundreds of developers. At the end of our trip we will be present
    at <a href="http://www.demo-africa.com/">DEMO Africa</a> the continent's
    largest startup event. We will be filming throughout our journey and
    release a documentary movie about our experiences when we get back.
  </p>
  <p>
    The events or our movie might be your spot. We'll gladly mention our partners
    and place their logos in any published material. As a sponsor you will be
    visible to everyone we meet: startups, developers and other forward-thinking
    people in a new market with huge growth potential. You can also send people
    to the events to get involved personally, for example by giving workshops.
  </p>
</section>
<section>
  <h1>Budget</h1>
  <p>
    In total, we'd need about $30,000 to cover all expenses (except our return
    tickets to Africa and our food &amp; drinks). Your contribution could go
    towards one of these categories:
  </p>
  <ul>
    <li>
      Events (venues, catering, prizes)
    </li>
    <li>
      Professional film gear (rental) and high-quality post-production
    </li>
    <li>
      Transport in Africa, visa and accomodation
    </li>
  </ul>
  <p>
    This is our spread sheets for all the costs:
    <a href="https://docs.google.com/document/d/1LXG2N8S-CB9ltruBT_H9khO7N60AJbUGKaYTs2-6mhs/edit?usp=sharing">AfricaHackTrip Cost Breakdown</a>
  </p>
</section>
<section>
  <h1>Get involved!</h1>
  <p>
    Sponsorship packages range from $1000 to $5000. Or you can tell us how you
    would like to partner up with us, and we'll work out a customized package
    with you.
  </p>
  <p>
    <strong><a href="mailto:hello@africahacktrip.org?subject=AfricaHackTrip%20Partnership">Just get in touch with us</a></strong>,
    and we'll work something out!
  </p>
</section>
